* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.main-container {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
}

svg {
    width: 24px;
    height: 24px;
}

/* ------------------------------ Header ----------------------------------- */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 88px;
    padding: 0 160px;
}

/* logo */
.logo svg {
    width: 65.4px;
    height: 22.84px;
}

/* search-field */
.search-field {
    width: 372px;
    height: 56px;
    position: relative;
}

.search-input {
    background-color: #F5F5F5;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    padding-left: 48px;
    border-radius: 8px;
}

.search-field svg {
    position: absolute;
    margin: 16px;
    padding: 4px;
}

/* nav */
.navbar-nav {
    display: flex;
    gap: 52px;
    list-style: none;
}

.nav-item {
    line-height: auto;
    font-size: 16px;
    font-weight: 500;
}

.nav-link {
    opacity: 0.3;
    font-size: 16px;
    text-decoration: none;
    color: #000;

}

.nav-link.active,
.nav-link:hover {
    opacity: 1;
}

/* nav-reponsive */
.navbar-mobile {
    position: fixed;
    top: 0;
    right: -300px;
    width: 250px;
    height: 100%;
    background: #fff;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 2rem 1rem;
    z-index: 1000;
}

/* Khi checkbox được tick */
#menu-toggle:checked~.navbar-mobile {
    right: 0;
}

/* icon-header */
.icon-header {
    display: flex;
    align-items: center;
    gap: 24px;
}

.icon-header svg {
    height: 32px;
    width: 32px;
}

.icon-header a {
    text-decoration: none;
}

.mobile-menu {
    display: none;
}

.mobile-menu button {
    border: none;
    background: none;
}

/* Responsive */
@media (max-width: 376px) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 88px;
        padding: 0 16px;
    }

    .search-field,
    .navbar-nav,
    .icon-header {
        display: none !important;
    }

    .mobile-menu {
        display: block;
    }

    .navbar-mobile {
        display: flex;
        list-style: none;
        flex-direction: column;
        gap: 10px;
        transition: 0.4 ease;
    }
}

/* ------------------------------ Banner ----------------------------------- */
.slide-1,
.slide-2,
.slide-3 {
    background: #211C24;
    padding: 0 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 632px;
    transition: transform 0.5s ease;
}

/* content */

.banner .content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.banner .content .line1 {
    color: #909090;
    opacity: 0.4;
    font-size: 25px;
    font-weight: 600;
    padding: 0;
    margin: 0;
}

.banner .content .line2 {
    font-size: 96px;
    color: #FFFFFF;
    font-weight: 100;
    padding: 0 !important;
    margin: 0 !important;
    line-height: 1;
}

.banner .content .line2 span {
    font-weight: 600;
    padding: 0;
    margin: 0;
}

.banner .content .line3 {
    color: #909090;
    font-size: 18px;
    padding: 0;
    margin: 0;
}

.banner .content .button-shop-now {
    width: 191px;
    height: 56px;
    border: solid 1px;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 6px;
    padding: 16px 56px;
    margin: 0;
    white-space: nowrap;
}

.banner .content .button-shop-now:hover {
    background-color: #FFFFFF;
    color: #211C24;
}

/* image */
.banner-img {
    display: block;
}

.slide-2 img {
    height: 300px;
}

.slide-3 img {
    height: 400px;
}

/* Responsive */
@media (max-width: 376px) {
    .banner {
        background: #211C24;
        padding: 0 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    /* content */

    .banner .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 16px;
        margin-top: 88px;
        align-items: center;
        text-align: center;
    }

    .banner .content .line1 {
        color: #909090;
        opacity: 0.4;
        font-size: 25px;
        font-weight: 600;
        padding: 0;
        margin: 0;
    }

    .banner .content .line2 {
        font-size: 72px;
        color: #FFFFFF;
        font-weight: 100;
        padding: 0 !important;
        margin: 0 !important;
        line-height: 1;
    }

    .banner .content .line2 span {
        font-weight: 600;
        padding: 0;
        margin: 0;
    }

    .banner .content .line3 {
        color: #909090;
        font-size: 19px;
        padding: 0;
        margin: 0;
    }

    .banner .content .button-shop-now {
        width: 191px;
        height: 56px;
        border: solid 1px;
        font-size: 16px;
        color: #FFFFFF;
        text-decoration: none;
        border-radius: 6px;
        padding: 16px 56px;
        margin-top: 16px;
    }

    .banner .content .button-shop-now:hover {
        background-color: #FFFFFF;
        color: #211C24;
    }

    .banner-img {
        width: 321px;
        height: 289px;
    }

}


/* ------------------------------Smaller Banner ----------------------------------- */
.smaller-banners {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.left-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: center;
}

.smaller-banner-content {
    padding-right: 48px;
    flex: 1;

}

.smaller-banner-content p,
.right-smaller-banner-content p {
    font-size: 14px;
    font-weight: 500;
    color: #909090;
    line-height: 24px;
    margin: 0;
}

.smaller-mobile-img {
    display: none;
}

/* wide-banner */
.wide-banner {
    display: flex;
    height: 328px;
}

.wide-banner .smaller-banner-content {
    order: 2;
    padding-left: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
}


.smaller-banner-content .wide-smaller-banner-content {
    font-size: 49px;
    font-weight: 500;
    line-height: 40px;
}

/* square-banner */

.square-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 272px;
}

.square-banner-left {
    display: flex;
    background-color: #EDEDED;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.square-banner-left .smaller-banner-content {
    padding: 48px;
}

.square-banner-left .smaller-banner-content-1 {
    font-size: 29px;
    font-weight: 300;
    line-height: 40px;
    margin: 0;
}

.square-banner-left .smaller-banner-content-1 h3 {
    font-size: 29px;
    font-weight: 500;
}

.square-banner-right {
    display: flex;
    background-color: #353535;
    max-width: 50%;
    max-height: 100%;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    gap: 16px;
}

.square-banner-right .smaller-banner-content {
    padding-top: 64px;
    padding-bottom: 64px;
}

.square-banner-right .smaller-banner-content-2 {
    font-size: 29px;
    font-weight: 300;
    line-height: 40px;
    margin: 0;
}

.square-banner-right .smaller-banner-content-2 h3 {
    font-size: 29px;
    font-weight: 500;
}

/* right-banner */
.right-banner {
    display: flex;
    background-color: #EDEDED;
    height: 600px;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.right-smaller-banner-content {
    padding-left: 56px;
    padding-top: 164px;
    padding-bottom: 164px;
    padding-right: 12px;
    display: flex;
    gap: 16px;
    flex-direction: column;
    margin: 0;
}

.right-smaller-banner-content div {
    font-size: 64px;
    font-weight: 100;
    line-height: 56px;
}

.right-smaller-banner-content h3 {
    font-size: 64px;
    font-weight: 500;
    line-height: 56px;
}

.right-smaller-banner-content p {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    width: 360px;
}

.right-smaller-banner-content .button-shop-now {
    width: 191px;
    height: 56px;
    border: solid 1px;
    font-size: 16px;
    color: #211C24;
    text-decoration: none;
    border-radius: 6px;
    padding: 16px 56px;
    white-space: nowrap;
}

.right-smaller-banner-content .button-shop-now:hover {
    background-color: #211C24;
    color: #FFFFFF;
}

/* Responsive */
@media (max-width: 376px) {

    .smaller-banners {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .smaller-img {
        display: none;
    }

    .smaller-mobile-img {
        display: block;
    }

    .smaller-banner-content p,
    .right-smaller-banner-content p {
        font-size: 16px;
        font-weight: 500;
        color: #909090;
        line-height: 24px;
        margin: 0;
    }


    /* wide-banner */
    /* .wide-banner {
        display: flex;
        height: 424px;
        flex-direction: column;
    }

    .wide-banner .smaller-banner-content {
        order: 2;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 8px;
        padding-left: 16px;
        padding-right: 16px;
    }


    .smaller-banner-content .wide-smaller-banner-content {
        font-size: 34px;
        font-weight: 100;
        line-height: 40px;
    }

    .smaller-banner-content .wide-smaller-banner-content span {
        font-size: 34px;
        font-weight: 500;
        line-height: 40px;
    } */

    /* square-banner */

    /* .square-banner {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 272px;
    }

    .square-banner-left {
        display: flex;
        background-color: #EDEDED;
        width: 50%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    .square-banner-left .smaller-banner-content {
        padding: 48px;
    }

    .square-banner-left .smaller-banner-content-1 {
        font-size: 29px;
        font-weight: 300;
        line-height: 40px;
        margin: 0;
    }

    .square-banner-left .smaller-banner-content-1 h3 {
        font-size: 29px;
        font-weight: 500;
    }

    .square-banner-right {
        display: flex;
        background-color: #353535;
        max-width: 100%;
        max-height: 100%;
        justify-content: center;
        align-items: center;
        color: #FFFFFF;
        gap: 16px;
    }

    .square-banner-right .smaller-banner-content {
        padding-top: 64px;
        padding-bottom: 64px;
    }

    .square-banner-right .smaller-banner-content-2 {
        font-size: 29px;
        font-weight: 300;
        line-height: 40px;
        margin: 0;
    }

    .square-banner-right .smaller-banner-content-2 h3 {
        font-size: 29px;
        font-weight: 500;
    } */

    /* right-banner */

    /* .right-banner {
        display: flex;
        background-color: #EDEDED;
        height: 600px;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .right-smaller-banner-content {
        padding-left: 56px;
        padding-top: 164px;
        padding-bottom: 164px;
        padding-right: 12px;
        display: flex;
        gap: 16px;
        flex-direction: column;
        margin: 0;
    }

    .right-smaller-banner-content div {
        font-size: 64px;
        font-weight: 100;
        line-height: 56px;
    }

    .right-smaller-banner-content h3 {
        font-size: 64px;
        font-weight: 500;
        line-height: 56px;
    }

    .right-smaller-banner-content p {
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
        width: 360px;
    }

    .right-smaller-banner-content .button-shop-now {
        width: 191px;
        height: 56px;
        border: solid 1px;
        font-size: 16px;
        color: #211C24;
        text-decoration: none;
        border-radius: 6px;
        padding: 16px 56px;
        white-space: nowrap;
    }

    .right-smaller-banner-content .button-shop-now:hover {
        background-color: #211C24;
        color: #FFFFFF;
    } */

}


/* ------------------------------ Category ----------------------------------- */
.category {
    padding: 80px 160px;
    background-color: #FAFAFA;
}

.browse-by-category {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.browse-by-category h3 {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 1%;
}

.browse-by-category .next-prev {
    display: flex;
    gap: 16px;
}

.browse-by-category .next-prev button {
    border: none;
    background: none;
}

.categories {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
    transition: all 0.5s ease;
    overflow: hidden;
}

.category-card {
    background-color: #EDEDED;
    text-align: center;
    padding-top: 24px;
    border-radius: 15px;
    height: 128px;
    width: 160px;
    white-space: nowrap;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.category-card:hover {
    background-color: #CFCFCF;
}

/* ------------------------------ Products ----------------------------------- */

.products {
    padding: 56px 160px;
}

/* tags */

.products .tags {
    margin-bottom: 32px;

}

.products .tags button {
    font-size: 18px;
    line-height: 32px;
    font-weight: 500;
    color: #8B8B8B;
    border: none;
    background: none;

}

.products .tags .new-arrival,
.products .tags button:hover {
    color: #000;
    text-decoration: underline;
    text-underline-offset: 4px;
}

.products .tags .bestseller {
    padding-left: 32px;
    padding-right: 32px;
}

/* card */
.product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 16px;
    column-gap: 16px;
}

.product-card {
    width: 268px;
    height: 432px;
    padding: 24px 16px;
    background-color: #F6F6F6;
    border-radius: 9px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}


.product-card .btn-like {
    border: none;
    background: none;
    position: absolute;
    top: 24px;
    right: 16px;
    width: 32px;
    height: 32px;
}

.product-card .btn-like.active path {
    fill: #FF0000;
    stroke: #FF0000;
}

.product-card-img {
    width: 160px;
    height: 160px;
    transition: transform 0.6s ease;
}

.product-card:hover img {
    transform: scale(1.2);
}

.product-card .card-content {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.product-card span {
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 3%;
    padding-bottom: 24px;
}

.product-card .buy-now {
    background: #000;
    border-radius: 8px;
    padding: 12px 64px;
    border: 1px solid;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 24px;
}


.product-card .buy-now:hover {
    background: #FFFFFF;
    border-radius: 8px;
    padding: 12px 64px;
    border: 1px solid;
    color: #000000;
    font-size: 12px;
    line-height: 24px;
}


/* ------------------------------ Banners ----------------------------------- */
.banners {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}


.big-banner-img {
    width: 360px;
}

.btn-shop-now {
    width: 191px;
    height: 56px;
    border: solid 1px;
    font-size: 16px;
    color: #211C24;
    text-decoration: none;
    border-radius: 6px;
    padding: 16px 56px;
    background: none;
    white-space: nowrap;
}

.btn-shop-now:hover {
    background-color: #211C24;
    color: #FFFFFF;
}

.big-banner-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 32px;
    padding-right: 32px;
    margin-bottom: 56px;
    gap: 16px;
}

.big-banner-content div {
    font-size: 33px;
    font-weight: 300;
    line-height: 48px;
}

.big-banner-content p {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: #909090;
}

.banner-img-1 {
    width: 100%;
    height: 327px;
    margin-top: 22px;
    margin-bottom: 27px;
}

.banner-img-2 {
    width: 100%;
    height: 366px;
    margin-bottom: 10px;
}

.banner-img-3 {
    width: 100%;
    height: 360px;
    margin-bottom: 16px;
}

.banner-img-4 {
    width: 100%;
    height: 376px;
}


.big-banner-2 {
    background-color: #F9F9F9;
}

.big-banner-3 {
    background-color: #EAEAEA;
}

.big-banner-4 {
    background-color: #2C2C2C;
}

.big-banner-content-4 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 32px;
    padding-right: 32px;
    margin-bottom: 56px;
    gap: 16px;
}

.big-banner-content-4 .btn-shop-now {
    width: 191px;
    height: 56px;
    border: solid 1px;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 6px;
    padding: 16px 56px;
    background: none;
    white-space: nowrap;
}

.big-banner-content-4 .btn-shop-now:hover {
    background-color: #FFFFFF;
    color: #211C24;
}

.big-banner-content-4 div {
    font-size: 33px;
    font-weight: 300;
    line-height: 48px;
    color: #FFFFFF;
}

.big-banner-content-4 p {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: #909090;
}

/* ------------------------------ Discourt-Products ----------------------------------- */

.discount-products {
    padding: 80px 160px;
}

.title-discourt {
    margin-bottom: 32px;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
}

.discount-products-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 16px;
}

/* card */
.discount-product-card {
    width: 268px;
    height: 432px;
    padding: 24px 16px;
    background-color: #F6F6F6;
    border-radius: 9px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.discount-product-card .btn-like {
    border: none;
    background: none;
    position: absolute;
    top: 24px;
    right: 16px;
    width: 32px;
    height: 32px;
}

.discount-product-card .btn-like.active path {
    fill: #FF0000;
    stroke: #FF0000;
}


.discount-product-card-img {
    width: 160px;
    height: 160px;
    transition: transform 0.6s ease;
}

.discount-product-card:hover img {
    transform: scale(1.2);
}

.discount-product-card .card-content {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.discount-product-card span {
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 3%;
    padding-bottom: 24px;
}

.discount-product-card .buy-now {
    background: #000;
    border-radius: 8px;
    padding: 12px 64px;
    border: 1px solid;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 24px;
}

.discount-product-card .buy-now:hover {
    background: #FFFFFF;
    border-radius: 8px;
    padding: 12px 64px;
    border: 1px solid;
    color: #000;
    font-size: 12px;
    line-height: 24px;
}


/* ------------------------------ Banner-2 ----------------------------------- */

.banner-2 {
    background-image: url(/Bai1-ConvertDesignToHTML/assets/image/Banner-2/Banner-2.png);
    height: 448px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.banner-2-content {
    padding: 0;
    margin-top: 159px;
}

.banner-2-content div {
    font-size: 72px;
    font-weight: 100;
    line-height: 72px;
    color: #FFFFFF;
    white-space: nowrap;
}

.banner-2-content div span {
    font-size: 72px;
    font-weight: 500;
    line-height: 72px;
}

.banner-2-content p {
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: #787878;
    white-space: nowrap;
}

.banner-2-content .btn-shop-now {
    width: 191px;
    height: 56px;
    border: solid 1px;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 6px;
    padding: 16px 56px;
    background: none;
    white-space: nowrap;
    margin-top: 40px;
}

.banner-2-content .btn-shop-now:hover {
    background-color: #FFFFFF;
    color: #211C24;
}


/* ------------------------------ Footer ----------------------------------- */

footer {
    padding: 104px 160px;
    background-color: #000000;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.logo-text {
    width: 384px;
}

.logo-text p {
    color: #CFCFCF;
    line-height: 170.5%;
    font-size: 14px;
    font-weight: 500;
    margin-top: 24px;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    width: 623px;
}

.footer-nav h3 {
    color: #FFFFFF;
    line-height: 16px;
    font-size: 16px;
    font-weight: 600;
}

.footer-nav span {
    color: #CFCFCF;
    line-height: 32px;
    font-size: 14px;
    font-weight: 400;
}

.services {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.assistance {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

/* social-icon */
.social {
    width: 173px;
    display: flex;
    justify-content: space-between;
}

.social svg {
    width: 16px;
    height: 16px;

}

.social a {
    text-decoration: none;
}